# Python
backend/**/__pycache__
backend/**/.mypy_cache
backend/**/*.pyc
backend/**/*.pyo
backend/**/*.pyd
backend/**/env/

# React
frontend/node_modules/
frontend/build/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?